.reviewContainer{
    background-color: #000 !important;
}
.textReviews{
    color: #f9f9f9 !important;
    font-weight: bold;
    text-align: center;
}
.divider{
    background-color: #000 !important;
}

.item{
    background-color: rgba(255,255,255,0.05);
    padding: 15px;
    border-radius: 10px ;
}